<section id="feedContainer" class="mb-24 mx-auto relative pt-20 md:pt-32 pl-6 md:pl-0 pr-6 md:pr-0 w-full">
    <mini-profile
        :user="{{ userObject }}"
        >
    </mini-profile>
    <div id="mainFeed" class="block w-full max-w-3xl mx-auto">
        <nav id="feedNavigation">
            <ul class="list-none p-0 m-0">
                <li class="inline-block align-baseline w-12 h-12 rounded-lg border border-purple-dark">
                    <a href="{{ site_url }}/my-feed"><i class="customIcons feed"></i></a>
                </li>
                <li class="inline-block align-baseline w-12 h-12 rounded-lg border border-purple-dark bg-purple-dark">
                    <a href="{{ site_url }}/manage-projects"><i class="customIcons projects white"></i></a>
                </li>
                <li class="inline-block align-baseline w-12 h-12 rounded-lg border border-purple-dark">
                    <i class="customIcons comments"></i>
                </li>
                <li class="inline-block align-baseline w-12 h-12 rounded-lg border border-purple-dark">
                    <i class="customIcons woblii"></i>
                </li>
                <li class="inline-block align-baseline w-12 h-12 rounded-lg border border-purple-dark">
                    <i class="customIcons cart"></i>
                </li>
                <li class="inline-block align-baseline w-12 h-12 rounded-lg border border-purple-dark">
                    <i class="customIcons tv"></i>
                </li>
            </ul>
        </nav>

        <section id="postContainer" class="border border-purple-dark rounded-lg">

            <h2 class="font-hairline text-black text-3xl pl-2 pt-4 pb-4">Tus proyectos: <i class="material-icons text-purple-dark text-xl">add_circle</i></h2>

            {{#posts}}

                {{>each-feed-post }}

            {{/posts}}

            {{^ posts }}
                <p class="p-2">No tienes proyectos todavía, <a class="text-blue-600 font-thin" href="">crea tu primer proyecto</a></p>
            {{/ posts }}

        </section>

    </div>

</section>