
<article class="w-full max-w-3xl mx-auto mb-12 rounded overflow-hidden shadow-base">

    <div class="px-6 py-4">
        <div class="my-6 flex">
            <div class="flex items-center">

                <img style="" src="https://via.placeholder.com/48x48" class="w-16 h-16 rounded-bl-sm mr-4" alt="{{ author_name }}">

                <div class="text-sm inline-block align-middle">
                    <a class="relative inline-block align-middle text-blue-600 font-medium no-underline hover:underline" title="'Visita el perfil de {{ author_name }}" href="#">{{ author_name }}</a>
                    <p class="text-gray-600 my-0">{{ post_modified }}</p>
                </div>
            </div>
        </div>
        <div class="font-bold text-xl mb-2"><a href="#">{{ post_title }}</a></div>
    </div>
    {{# thumbnail_tag }}
        {{{ . }}}
    {{/ thumbnail_tag }}
    {{^ thumbnail_tag }}
        <img class="block w-full h-auto" src="https://via.placeholder.com/500x320?text=Placeholder+image" alt="There is no image for this project">
    {{/ thumbnail_tag }}

    <div class="w-full p-4 md:p-12">
        <p class="p-4 border border-purple-dark rounded-lg text-gray-700 font-hairline text-base">
            {{{ post_excerpt }}}
        </p>
    </div>

</article>